$dark-blue-dm : hsl(209, 23%, 22%);
$dark-blue-bg-dm : hsl(207, 26%, 17%);
$dark-blue-text-lm : hsl(200, 15%, 8%);
$dark-gray-input-lm : hsl(0, 0%, 52%);
$light-gray-bg-lm : hsl(0, 0%, 98%);
$white : hsl(0, 0%, 100%) ;


.container{

    padding: 3em 5em;
    min-height: 90vh;

    @media (max-width:900px){
        padding: 2em 1em;
    }
    button{
        padding: 0.5em 3em;
        margin-bottom: 4em;
        background-color: $dark-blue-dm;
        border: none;
        border-radius: 5px;
        color: $white;
        cursor: pointer;
        outline: none;
        display: flex;
        align-items: center;    
        gap: 10px;
        width: 10em;
        svg{
            font-size: 1.5em;
        }

        @media (max-width:900px){
            width: 12em;
            padding: 1em 3em;
            font-size: 1em;
        }
    }

    .country{
        display: flex;
        flex-wrap: wrap;
        color: $white;

        .flag{
            width: 30%;
            padding: 0.5em;
            background-color: $dark-blue-dm;
            border-radius: 10px;
          @media (max-width:900px){
            width: 100%;
          }
            img{
                width: 100%;
            }
            p{
                margin: 1em;
            }
        }

        .details{
             padding: 2em 0 2em 5em;   
             width: 60%;
          @media (max-width:900px){
            padding: 2em;
            width: 100%;
          }
             h2{
                margin-bottom: 1em;
             }
            .text{
                 width: 100%;
                 display: flex;
        
              @media (max-width:900px){
                flex-direction: column;
              }
                .text-1{
                    width: 50%;
                    @media (max-width:900px){
                        width: 100%;
                      }
                }
                .text-2{
                    padding-left: 1em;
                    @media (max-width:900px){
                        padding-left: 0;
                      }
                }

                 p{
                     margin-bottom: 0.5em;
                     font-size: 0.9em;
                 }
            }
            .border{
                display: flex;
                margin-top: 1em;
               h4{
                width: 23%;

                @media (max-width:900px){
                    width: 40%;
                    font-size: 0.9em;
                }
               }
                div{
                    width: 77%;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1em;
                
                    @media (max-width:900px){
                        width: 60%;
                    }

                    p{
                        width: 10%;
                        padding: 0.4em 2em;
                        margin: 0 1em ;
                        border-radius: 5px;
                        font-size: 0.8em;
                        background-color: $dark-blue-dm;
                        @media (max-width:900px){
                            width: 7%;
                            display: flex;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
}